html {
  --windowSize: 100vh;
}

@media only screen and (orientation: portrait) {
  html{
    --windowSize: 100vw;
  }
}

body {
  margin: 0;
  padding: 10px;
  height: var(--windowSize);
  display: flex;
  align-self: top;
  justify-content: center;
  align-items: center;
  background-color: #36393f;
}

#heart {
  text-align: center;
}